body{
    text-transform: capitalize;
    display: flex;
    color: white !important;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#aside{
    
    padding-top: 3em;
    padding-bottom: 40px;
    padding-left: 3em;
    padding-right: 3em;

    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
    background: #343a40;

    text-align: center !important;

    width: 20%;
    // linear-gradient(0deg, rgba(255,255,255,.2),rgba(255,255,255,.2)));
}

.logo{
    // color: $black;
    // font-family: $popi;
    color: white;
    margin-bottom: 2.5em;
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    &:hover {
        transform: scale(0.99);
        transition: 0.5s;
      }
}

.logo_img {
    filter: invert(100%);
    width: 50%;
}

.menu{
    justify-content: center !important;
}

ul{
    margin: 0;
    padding: 0;
}

li.aside__menu_list_item{
    margin: 0 0 15px 0;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
}


// animation is slow so you can see it, but probably should be .25 or .15
$thetransition: all .5s cubic-bezier(1,.25,0,.75) 0s;

.aside__menu_list_item>a {
    color:white !important;
    text-decoration: none;
    position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: $thetransition;
  }
  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.aside__contact_item {
    &:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }
}

.aside__footer{
    justify-content: center !important;

    position: absolute;
    
    bottom: 40px;
    left: 0;
    right: 0;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 400;
}
.aside__footer_list{
    display: flex;
    padding: 0;
    justify-content: center !important;
}
h3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
h3:first-letter{
    text-transform: capitalize !important;;
}
.aside__contact_item{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    color:white;
}
.aside__menu_list{
    margin: 0 0 15px 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
}
.gallery__main{
    width: 80%;
    float: right;
}
.gallery__item{
    :hover{
        filter: grayscale(30%);
        transition: 1s;
    }
    width: 100%;
}
.blur{
    :hover{
        filter: blur(1px);  
	    transition: .2s ease-in-out;
    }
    
}
    